[Unit]
Description=Beerinfo API Service
After=network.target

[Service]
User=root
WorkingDirectory=/opt/beerinfo
ExecStart=/root/.pyenv/versions/3.11.9/bin/uvicorn main:app --host 127.0.0.1 --port 8000
Restart=always

[Install]
WantedBy=multi-user.target
